# GCN Nasa - https://gcn.nasa.gov
GCN_NASA_CLIENT_ID=
GCN_NASA_CLIENT_SECRET=
# 'gcn.notices.icecube.gold_bronze_track_alerts', 'gcn.notices.superk.sn_alert', 'gcn.notices.swift.bat.guano'
GCN_NASA_ALERTS='["gcn.circulars","gcn.notices.chime.frb","gcn.notices.dsa110.frb","gcn.notices.einstein_probe.wxt.alert","gcn.heartbeat","gcn.notices.icecube.lvk_nu_track_search","igwn.gwalert"]'