# PostgreSQL
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
DATABASE_URL=

# LiteLLM
OPENAI_API_KEY=
LITELLM_MASTER_KEY=
LITELLM_API_BASE=
LITELLM_MODEL_CLASSIFIER=
LITELLM_MODEL_EMBEDDER=
LITELLM_MODEL_FAST=